@import url(variable.css);
@import url(button.css);
@import url(cards.css);
@import url(navbar.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.margin-bottom-min{
    margin-bottom: 1rem;
}
.margin-bottom{
    margin-bottom: 3rem;
}
.margin-top{
    margin-top:3rem;
}
.margin-top-plus{
    margin-top: 8rem;
}
.border-radius{
    border-radius: 10px;
}
.border-radius-plus{
    border-radius: 25px;
}
.menu-nav{
    display: none;
}
.link{
    opacity: .8;
}
.section-jumbo{
    padding-top:3rem;
    height: 500px;
}
.img-jumbo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
}
.section-slider{
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.color-txt-white{
    color: white;
}
.link-playstation-limits{
    text-decoration: none;
}
.opacity{
    opacity: .2;
}
.opacity:hover{
    opacity: 1;
    border-bottom: 1px solid blue;
}
.console-ps5{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: center;
}
.section-avventure{
    padding-top: 3rem;
    height: 700px;
}
.img-two-hero{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
}
.it-takes-two{
    position: absolute;
    top: 4em;
    left: 10px;
    color: white;
}
.section-new-games{
    background-color: #343a40;
    
}
.section-playstation-plus{
    background-color: #BEBCBB;
}
.color-text-blu{
    color: blue;
}
.my-card-plus{
    padding-top: 5rem;
}
.section-now{
    background-color: #161C3B;
}
.my-card-social{
    justify-content: center;
}
.social{
    width:160px;
    height: 160px;
    padding-right: .5rem;
}
.section-footer{
    background-color: #00439C;
}
.footer-left{
    flex-direction: column;
}
.list-style{
    list-style: none;
}
.w-20{
    width: 20%;
}

/* inizio effetti hover */
.link:hover{
    opacity: 1;
}
.slide:hover{
    transform: translateY(-2rem);
    transition: transform 1s;
}
.my-btn:hover{
    border: ;
    border-radius: 1px solid black;
}


/* inizio delle media query */
@media screen and (max-width: 1200px){
    .link-nav{
        display: none;
    }
    .link{
        display: none;
    }
    .my-btn{
        display: none;
    }
    .search{
        display: none;
    }
    .menu-nav{
        display: block;
    }
}
@media screen and (max-width: 991px) {
    .title-ps5-devices{
        font-size: 1rem;
    }
    .title-new-games{
        font-size: 0.9rem;
    }
    .my-card-plus{
        padding: 0%;
    }
    .margin-top-zero{
        margin-top: 0;
    }
}

@media screen and (max-width: 767px){
    .title-ps5-devices{
        display: none;
    }
    .img-sm-none{
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .my-card-social{
        flex-wrap: wrap;
    }
    .social{
        width: 180px;
        padding: 1.5rem;
    }
    
}