@import url(variable.css);
@import url(button.css);
@import url(cards.css);
@import url(navbar.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.section-jumbo{
    padding-top:3rem;
}
.img-jumbo{
    max-height: 500px;
    min-height: 500px;
}
.section-slider{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.color-txt-white{
    color: white;
}
.link-playstation-limits{
    text-decoration: none;
}
.console-ps5{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: center;
}
}